{% extends "stageit/layout.html" %}

{% block title %}Task History{% endblock %}
{% block header %}Task History{% endblock %}

{% block body %}
<header class="jumbotron">
    <div class="container-lg">
        <div class="row">
            <div class="col-xs-12">
                <h2>History</h2>
            </div>
        </div>
    </div>
</header>
<div class="content-area">
    <div class="container-lg">
        <div class="row">
            <div class="col-xs-12">
                <table id="tasks" class="table" width="100%">
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>

    $(document).ready(function () {
        var dataSet = $.getJSON({
            url: '/api/tables?table=history',
            async: false
        }).responseJSON.data;

        dataSet.forEach(function (element) {
            var thisHistory = "<a href='/history/" + element[0] + "'>" + element[0].substring(0, 5) + "</a>"
            element.splice(1, 0, thisHistory);
        });


        $('#tasks').DataTable({
            data: dataSet,
            rowId: 'pkid',
            columns: [
                { title: "pkid" },
                { title: "ID" },
                { title: "Date Start" },
                { title: "Date End" }
            ],
            columnDefs: [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }]
        });
    });

</script>
{% endblock %}