{% extends "stageit/layout.html" %}


{% block body %}
<header class="jumbotron">
    <div class="container-lg">
        <div class="row">
            <div class="col-xs-12">
                <h2>Tasks</h2>
            </div>
        </div>
    </div>
</header>
<div class="content-area">
    <div class="container-lg">
        <div class="row">
            <div class="col-xs-12">
                <table id="tasks" class="table" width="100%">
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    $('.deletetask').on('click', function (event) {
        var a = confirm("Confirm deletion");
        if (a == true) {
            $.ajax({
                type: 'DELETE',
                url: "/api/tasks/" + $(this).attr("taskid"),
            }).done(function (response) {
                location.reload();
            }).fail(function (response) {
                alert(response.responseJSON.message)
            })
        }
    });

    $('.assignworker').on('click', function (event) {
        $.ajax({
            type: 'POST',
            url: "/api/worker",
            data: {
                taskpkid: $(this).attr("taskid"),
                worker: $(this).attr("worker")
            }
        }).done(function (response) {
            alert("OK")
        }).fail(function (response) {
            alert("Fail")
        })
    });

    $(document).ready(function () {
        var dataSet = $.getJSON({
            url: '/api/tasks/?format=json',
            async: false
        }).responseJSON;

        dataSet.forEach(function (element) {
            element['thisTask'] = "<a href='/tasks/" + element[0] + "'>" + element[0].substring(0, 5) + "</a>"
            element['thisTemplate'] = "<a href='/templates/" + element[2] + "'>" + element[2].substring(0, 5) + "</a>"
        });


        $('#tasks').DataTable({
            data: dataSet,
            rowId: 'pkid',
            columns: [
                { title: "pkid", data: 'pkid' },
                { title: "ID", data: 'thisTask' },
                { title: "Description", data: 'description' },
                { title: "Template", data: 'thisTemplate' }
            ],
            columnDefs: [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }]
        });
    });

</script>
{% endblock %}