{% extends "stageit/layout.html" %}

{% block title %}Workers{% endblock %}
{% block header %}Workers{% endblock %}

{% block body %}
<header class="jumbotron">
    <div class="container-lg">
        <div class="row">
            <div class="col-xs-12">
                <h2>Workers</h2>
            </div>
        </div>
    </div>
</header>
<div class="container-xl">
    <div class="table-responsive scrollbars">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for element in workers %}
                <tr>
                    <th scope="row">{{element}}</th>
                    <td>{{workers[element]['thread'].status}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}