{% extends "stageit/layout.html" %} {% block title %}Add Detail | {% endblock %} {% block body %}
<div class="top-gutter bottom-gutter container-wrapper">
    <div class="content-area">
        <div class="container-lg">
            <form class="needs-validation" action="/api/template/" id="templateform" method="post">
                <div class="form-group">
                    <h2>Insert new template</h2>
                </div>
                {% csrf_token %}

                <div class="form-group">
                    <div class="form-row">
                        <div class="form-group col-xl-6 form-left">
                            <label class="control-label" for="name">Name</label>
                            <input type="text" class="form-control" id="name" required>
                        </div>
                        <div class="form-group col-xl-6 form-right">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description" required>
                        </div>
                    </div>
                </div>
                <hr class="pt-3">
                <div class="form-row">
                    <div class="form-group col-xl-6 form-left">
                        <label for="template">Template</label>
                        <textarea class="form-control font-monospace" id="template" rows="20"
                            aria-describedby="templateHelp">{% include "stageit/examples/config.jinja" %}</textarea>
                        <small id="templateHelp" class="form-text text-muted">Leave empty to leave final device
                            config empty.<br />Pure text or Jinja2 templates accepted</small>
                    </div>
                    <div class="form-group col-xl-6 form-right">
                        <label for="templatevalues">Template values</label>
                        <textarea class="form-control font-monospace" id="templatevalues" rows="20"
                            aria-describedby="templatevaluesHelp">{% include "stageit/examples/data.jinja" %}</textarea>
                        <small id="templatevaluesHelp" class="form-text text-muted">Insert variables required by
                            your template in yaml format</small>
                    </div>
                </div>

                <button class="btn btn-primary" type="button" data-toggle="modal"
                    data-target="#templaterender">Test</button>
                <div class="modal fade" tabindex="-1" role="dialog" id="templaterender">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Rendered template</h5>
                            </div>
                            <div class="modal-body">
                                <pre><code id="templaterenderview"></code></pre>
                            </div>
                            <div class="modal-footer">
                                <!-- use the .btn-link-toolbar for the correct padding if the footer only contains link buttons -->
                                <div class="btn-link-toolbar">
                                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="pt-3">
                <h4 class="mb-3">Software version</h4>
                <div class="form-row">
                    <div class="form-group mb-3 col-xl-9 form-left">
                        <label for="filepath">Firmware file path</label>
                        <input type="url" class="form-control" id="filepath" aria-describedby="filepathHelp"
                            oninput="installmodecheck()">
                        <small id="filepathHelp" class="form-text text-muted">Insert URI to file image. Leave
                            empty to skip
                            image check</small>
                    </div>
                    <div class="form-group mb-3 col-xl-3 form-right">
                        <label for="installmode">Install mode</label>
                        <div class="form-group" id="installmode" aria-describedby="installmodeHelp">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="installmode" value="INSTALL" checked>Install
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="installmode" value="BUNDLE">Bundle
                                </label>
                            </div>
                            <small id="installmodeHelp" class="form-text text-muted">Does not apply to IOS. If unsure
                                leave default</small>
                        </div>
                    </div>

                    <div class="form-group mb-3 col-xl-12 form-right form-left">
                        <label class="control-label" for="fkbootstrapconfig">Bootstrap config</label>
                        <div class="dropdown" data-dropdown>
                            <input type="text" class="hidden">
                            <button type="button" class="form-control dropdown-toggle" id="fkbootstrapconfig"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="fkbootstrapconfig">
                                {% for element in bootstrapconfig %}
                                <li>
                                    <a href="#" data-value="{{element.pkid}}">
                                        {{element}}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <small id="installmodeHelp" class="form-text text-muted">Basic config to give IP reachability to
                            the device</br>
                            Used during firmware upgrade</small>
                        </small>
                    </div>
                </div>

                <hr class="pt-3">
                <h4 class="mb-3">Post-staging actions</h4>
                <div class="form-group mb-3">
                    <label for="poststaging">Post-staging</label>
                    <textarea class="form-control font-monospace" id="poststaging" rows="5"
                        aria-describedby="poststagingHelp"></textarea>
                    <small id="poststagingHelp" class="form-text text-muted">Insert commands to be run after
                        previous tasks
                        are finished. Enter one per line</small>
                </div>

                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Save template</button>
                <div id="submitalertspace" class="my-3"></div>
            </form>
        </div>
    </div>
</div>


{% endblock %} {% block script %}
<script src="/static/js/templaterender.js"></script>
<script>
    function installmodecheck() {
        installmodeoptions = $('[name=installmode]').toArray();
        if ($('#filepath').val() == '') {
            installmodeoptions.forEach(function (item) {
                item.parentElement.classList.add('disabled');
            });
        } else {
            installmodeoptions.forEach(function (item) {
                item.parentElement.classList.remove('disabled');
            });
        }
    }

    $('#templateform').submit(function (event) {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: $('#templateform').attr('action'),
            data: {
                name: $('#name').val(),
                description: $('#description').val(),
                template: $('#template').val(),
                templatevalues: JSON.stringify(jsyaml.load($('#templatevalues').val())),
                filepath: $('#filepath').val(),
                installmode: $("input[name='installmode']:checked").val(),
                poststaging: $('#poststaging').val(),
                fkbootstrapconfig: $('#fkbootstrapconfig')[0].value
            }
        }).done(function (response) {
            var $toast = basecoat.toast('<span class="fa fa-check"></span>Task submitted', 'success');
            $toast.trigger('show', [5000]); // show toast for 5s
            window.location.href = "/templates/" + response['pkid'];
        }).fail(function (response) {
            var $toast = basecoat.toast(
                '<span class="fa fa-exclamation-triangle"></span>' + response.responseText,
                'warning');
            $toast.trigger('show', [5000]); // show toast for 5s
        });
    });
</script>
{% endblock %}