{% extends "layout.html" %}

{% block navbar %}
<a class="nav-item nav-link" href="/workers">Workers</a>
<a class="nav-item nav-link" href="/tasks">Tasks</a>
<a class="nav-item nav-link active" href="/templates">Templates</a>
{% endblock %}


{% block body %}
<div class="container">
    <!--<h1 class="display-4 content-center px-3 py-3 pt-md-4 pb-md-4 mx-auto row justify-content-center">Task details</h1>-->
    <h1 class="display-6 content-center pt-md-4 row justify-content-center">Task details</h1>
</div>
<div class="row justify-content-center mx-auto">c2f86905-1f64-453a-b8e7-d9185b85942d</div>

<div class="row justify-content-center px-2 py-3 pt-md-5 pb-md-4 mx-auto">
    <div class="col-5">
        <div class="py-2">
            Model
            <div class="text-muted">WS-C2960X-24PS-L</div>
        </div>
        <div class="py-2">
            Serial
            <div class="text-muted">FOC1731V3WF</div>
        </div>
    </div>
    <div class="col-5">
        <div class="py-2">
            Status
            <div class="text-muted">Upgrading IOS-XE in INSTALL mode</div>
        </div>
        <div class="py-2">
            Software
            <div class="text-muted">C2960X Software (C2960X-UNIVERSALK9-M), Version 15.2(2)E5, RELEASE SOFTWARE (fc2)
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center px-2 py-3 pt-md-5 pb-md-4 mx-auto">
    <textarea class="border-0" style="font-family:monospace; width: 820px;" id="exampleFormControlTextarea1" rows="20"></textarea>
</div>
{% endblock %}