{% extends "layout.html" %}

{% block navbar %}
<a class="nav-item nav-link" href="/workers">Workers</a>
<a class="nav-item nav-link" href="/tasks">Tasks</a>
<a class="nav-item nav-link active" href="/templates">Templates</a>
{% endblock %}


{% block body %}
<div class="row justify-content-center">
    <div class="col-4">
        <h4>
            Model
            <div class="text-muted">WS-C2960X-24PS-L</div>
        </h4>
        <h4>
            Serial
            <div class="text-muted">FOC1731V3WF</div>
        </h4>
        <h4>
            Software
            <div class="text-muted">C2960X Software (C2960X-UNIVERSALK9-M), Version 15.2(2)E5, RELEASE SOFTWARE (fc2)</div>
        </h4>
    </div>
    <div class="col-4">
            <h4>
                Status
                <div class="text-muted">Upgrading IOS-XE in INSTALL mode</div>
            </h4>

        </div>
</div>
{% endblock %}