{% verbatim %}
hostname {{hostname}}

{% for int in interfaces %}
interface {{int.name}}
 switchport mode {{int.mode}}
 {% if int.native_vlan -%}
 switchport access vlan {{int.native_vlan}}
 {% endif -%}
{% endfor %}

{% for user in users -%}
username {{user[0]}} privilege 15 secret {{user[1]}}
{% endfor %}

line vty 0 15
 login local
 transport input {{transport_input}}
{% endverbatim %}