{% extends "stageit/layout.html" %}

{% block body %}
<!--<h1 class="display-4 content-center px-3 py-3 pt-md-4 pb-md-4 mx-auto row justify-content-center">Task details</h1>-->
<div class="top-gutter bottom-gutter container-wrapper">
    <div class="content-area">
        <div class="container">

            <div class="row">
                <h1>History detail</h2>
                    <p>Task run for {{pkid}}</p>
            </div>

            <div class="row">
                <div class="col-xl-6 form-left">
                    <h2>Hardware</h2>

                    <strong>Model: </strong>WS-C2960X-24PS-L
                    </br>
                    <strong>Serial Number: </strong>FOC7H1S
                </div>
                <div class="col-xl-6 form-right">
                    <h2>Software</h2>
                </div>
            </div>
            <div class="row col-xl-12">
                <h2>Log sessione</h2>
                <textarea class="form-control font-monospace" id="runlog" rows="25"></textarea>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}

{% block script %}
<script>
    var client = new XMLHttpRequest();
    client.open('get', '/api/streamlogs/{{pkid}}');
    client.send();
    client.onprogress = function () {
        var textarea = $('#runlog')
        textarea.val(this.responseText);
        textarea.scrollTop(textarea[0].scrollHeight);
    }
</script>
{% endblock %}