{% extends "stageit/layout.html" %}

{% block title %}Add Task | {% endblock %}

{% block body %}
<div class="top-gutter bottom-gutter container-wrapper">
    <div class="content-area">
        <div class="container-lg">

            <form class="needs-validation" action="/api/task/" id="taskform" method="post">
                <div class="form-group">
                    <h1>Create task from {{slug}}</h1>
                </div>
                {% csrf_token %}

                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" name="description" id="description" required>
                </div>
                <h4 class="mb-3">Final configuration details</h4>
                <div class="form-row">
                    <div class="form-group col-xl-6 form-left">
                        <label for="template">Template</label>
                        <textarea class="form-control font-monospace" id="template" rows="6"
                            aria-describedby="templateHelp" disabled>{{template}}</textarea>
                        <small id="templateHelp" class="form-text text-muted">Modify template to change this</small>
                    </div>
                    <div class="form-group col-xl-6 form-right">
                        <label for="taskvalues">Template values</label>
                        <textarea class="form-control font-monospace" id="taskvalues" rows="6"
                            aria-describedby="taskvaluesHelp">{{templatevalues}}</textarea>
                        <small id="taskvaluesHelp" class="form-text text-muted">Insert variables required by your
                            template
                            in
                            yaml format</small>
                    </div>
                </div>
                <button class="btn btn-primary" type="button" data-toggle="modal"
                    data-target="#templaterender">Test</button>
                <div class="modal fade" tabindex="-1" role="dialog" id="templaterender">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Rendered template</h5>
                            </div>
                            <div class="modal-body">
                                <pre><code id="templaterenderview"></code></pre>
                            </div>
                            <div class="modal-footer">
                                <!-- use the .btn-link-toolbar for the correct padding if the footer only contains link buttons -->
                                <div class="btn-link-toolbar">
                                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="button" , id=createbutton>Create task</button>
                <div id="submitalertspace" class="my-3"></div>
            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script>
    $("#templaterender").on('show.bs.modal', function () {
        $('#templaterenderview').html("");
        $.ajax({
            type: "POST",
            url: "/api/convertjinja",
            data: {
                template: $('#template').val(),
                values: $('#templatevalues').val()
            },
            success: function (msg) {
                $('#templaterenderview').html(msg);
            },
            error: function (msg, exception) {
                $('#templaterenderview').html(msg.responseText);
            }
        });
    })

    $('#createbutton').on('click', function (event) {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: $('#taskform').attr('action'),
            data: {
                fktemplate: "{{pkid}}",
                description: $('#description').val(),
                taskvalues: $('#taskvalues').val(),
            }
        }).done(function (response) {
            fktask = response['pkid']
            var $toast = basecoat.toast('<span class="fa fa-check"></span>Task <a href="/tasks/' + fktask + '">' + fktask.substring(0,5) + '</a> submitted', 'success');
            $toast.trigger('show'); // show toast for 5s
        }).fail(function (response) {
            var $toast = basecoat.toast('<span class="fa fa-exclamation-triangle"></span>' + response.responseText, 'danger');
            $toast.trigger('show'); // show toast for 5s
        });
    });
</script>
{% endblock %}