{% extends "stageit/layout.html" %}

{% block title %}Template Details | {% endblock %}

{% block body %}
<div class="top-gutter bottom-gutter container-wrapper">
    <div class="content-area">
        <div class="container-lg">
            <form class="needs-validation" action="/api/template/" id="templateform" method="post">
                <div class="form-group">
                    <h1>Edit template</h2>
                        <p>{{template.pkid}}</p>
                </div>
                {% csrf_token %}


                <div class="form-group">
                    <div class="form-row">
                        <div class="form-group col-xl-6 form-left">
                            <label class="control-label" for="name">Name</label>
                            <input type="text" class="form-control" id="name" value="{{template.name}}" required>
                        </div>
                        <div class="form-group col-xl-6 form-right">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description" value="{{template.description}}" required>
                        </div>
                    </div>
                </div>

                <label for="platformRadio">Platform</label>
                <div class="form-group" id="platform">
                    <div class="radio">
                        <label>
                            <input type="radio" id="iosRadio" name="platformRadio" value="ios"
                                {% if template.platform == 'ios'%}checked{%endif%}>Cisco IOS
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="platformRadio" value="nx-os"
                                {% if template.platform == 'nx-os'%}checked{%endif%}>Cisco NX-OS
                        </label>
                    </div>
                </div>

                <hr class="pt-3">
                <h4 class="mb-3">Final configuration details</h4>
                <div class="form-row">
                    <div class="form-group col-xl-6 form-left">
                        <label for="template">Template</label>
                        <textarea class="form-control font-monospace" id="template" rows="20"
                            aria-describedby="templateHelp">{{template.template}}</textarea>
                        <small id="templateHelp" class="form-text text-muted">Leave empty to leave final device
                            config
                            empty.<br />Pure text or Jinja2 templates accepted</small>
                    </div>
                    <div class="form-group col-xl-6 form-right">
                        <label for="templatevalues">Template values</label>
                        <textarea class="form-control font-monospace" id="templatevalues" rows="20"
                            aria-describedby="templatevaluesHelp">{{template.templatevalues}}</textarea>
                        <small id="templatevaluesHelp" class="form-text text-muted">Insert variables required by
                            your template in yaml format</small>
                    </div>
                </div>

                <button class="btn btn-primary" type="button" data-toggle="modal"
                    data-target="#templaterender">Test</button>
                <div class="modal fade" tabindex="-1" role="dialog" id="templaterender">
                    <div class="modal-dialog modal-xl" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Rendered template</h5>
                            </div>
                            <div class="modal-body">
                                <pre><code id="templaterenderview"></code></pre>
                            </div>
                            <div class="modal-footer">
                                <!-- use the .btn-link-toolbar for the correct padding if the footer only contains link buttons -->
                                <div class="btn-link-toolbar">
                                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="pt-3">
                <h4 class="mb-3">Software version</h4>
                <div class="form-row">
                    <div class="form-group mb-3 col-xl-9 form-left">
                        <label for="filepath">Firmware file path</label>
                        <input type="url" class="form-control" id="filepath" aria-describedby="filepathHelp"
                            value="{{template.filepath}}" oninput="installmodecheck()">
                        <small id="filepathHelp" class="form-text text-muted">Insert URI to file image. Leave empty
                            to skip
                            image check</small>
                    </div>
                    <div class="form-group mb-3 col-xl-3 form-right">
                        <label for="installmode">Install mode</label>
                        <div class="form-group" id="installmode" aria-describedby="installmodeHelp">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="installmode" value="INSTALL"
                                        {% if template.installmode == 'INSTALL'%}checked{%endif%}>Install
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="installmode" value="BUNDLE"
                                        {% if template.installmode == 'BUNDLE'%}checked{%endif%}>Bundle
                                </label>
                            </div>
                            <small id="installmodeHelp" class="form-text text-muted">Does not apply to IOS. If unsure
                                leave default</small>
                        </div>
                    </div>

                    <div class="form-group mb-3 col-xl-12 form-right form-left">
                        <label class="control-label" for="fkbootstrapconfig">Bootstrap config</label>
                        <div class="dropdown" data-dropdown>
                            <input type="text" class="hidden">
                            <button type="button" class="form-control dropdown-toggle" id="fkbootstrapconfig"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" value="{% if template.fkbootstrapconfig %}{{template.fkbootstrapconfig.pkid}}{% else %}null{% endif %}">
                                {% if template.fkbootstrapconfig %}{{template.fkbootstrapconfig.name}}{% else %}No config{% endif %}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="fkbootstrapconfig">
                                <li>
                                    <a href="#" data-value="null">
                                        No config
                                    </a>
                                </li>
                                {% for element in bootstrapconfig %}
                                <li>
                                    <a href="#" data-value="{{element.pkid}}">
                                        {{element.name}}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <small id="installmodeHelp" class="form-text text-muted">Basic config to give IP reachability to
                            the device</br>
                            Used during firmware upgrade</small>
                        </small>
                    </div>
                </div>

                <hr class="pt-3">
                <h4 class="mb-3">Post-staging actions</h4>
                <div class="form-group mb-3">
                    <label for="poststaging">Post-staging</label>
                    <textarea class="form-control font-monospace" id="poststaging" rows="5"
                        aria-describedby="poststagingHelp">{{template.poststaging}}</textarea>
                    <small id="poststagingHelp" class="form-text text-muted">Insert commands to be run after
                        previous tasks
                        are finished. Enter one per line</small>
                </div>

                <hr class="mb-4">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <a id="btncreatetask" role="button" class="btn btn-primary btn-lg btn-block btn-success"
                            href="/tasks/new/{{template.pkid}}">Create task</a>
                    </div>
                    <div class="col-md-4 mb-3">
                        <button id="btnsave" class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
                    </div>
                    <div class="col-md-4 mb-3">
                        <button id="btndelete" class="btn btn-primary btn-lg btn-block btn-danger"
                            type="button">Delete</button>
                    </div>
                </div>
                <div id="submitalertspace" class="my-3">
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script src="/static/js/templaterender.js"></script>
<script>
    function installmodecheck() {
        installmodeoptions = $('[name=installmode]').toArray();
        if ($('#filepath').val() == '') {
            installmodeoptions.forEach(function(item) {
                item.parentElement.classList.add('disabled');
            });
        } else {
            installmodeoptions.forEach(function (item) {
                item.parentElement.classList.remove('disabled');
            });
        }
    }

    $('#btnsave').on('click', function (event) {
        event.preventDefault();
        $.ajax({
            type: 'PUT',
            url: "/api/template/{{template.pkid}}/",
            data: {
                name: $('#name').val(),
                description: $('#description').val(),
                platform: $("input[name='platformRadio']:checked").val(),
                template: $('#template').val(),
                templatevalues: JSON.stringify(jsyaml.load($('#templatevalues').val())),
                filepath: $('#filepath').val(),
                installmode: $("input[name='installmode']:checked").val(),
                poststaging: $('#poststaging').val(),
                fkbootstrapconfig: $('#fkbootstrapconfig')[0].value
            }
        }).done(function (response) {
            var $toast = basecoat.toast('<span class="fa fa-check"></span>Task submitted', 'success');
            $toast.trigger('show', [5000]); // show toast for 5s
        }).fail(function (response) {
            var $toast = basecoat.toast('<span class="fa fa-fail"></span>' + response.responseText, 'danger');
            $toast.trigger('show', [5000]); // show toast for 5s
        });
    });

    // confirm dialog that goes into an alert dialog
    $('#btndelete').on('click', function (event) {
        basecoat.confirm('Are you sure you want to delete this template?', null, 'Yes', 'No')
            .on('reject', function () {
                console.log('reject');
            })
            .on('accept', function () {
                $.ajax({
                    type: 'DELETE',
                    url: "/api/template/{{template.pkid}}/"});
                basecoat.alert('Template deleted')
                    .on('hide.bs.modal', function () {
                        window.location.href = "/templates";
                    });
            });
    });
</script>
{% endblock %}
