{% extends "templates/layout.html" %}

{% block body %}
<div class="top-gutter bottom-gutter container-wrapper">
    <div class="content-area">
        <div class="container">
            <form class="needs-validation" action="/api/templates" id="templateform" method="post">
                <div class="form-group">
                    <h2>Insert new template</h2>
                </div>


                <div class="form-group">
                    <div class="form-row">
                        <div class="form-group col-xl-6 form-left">
                            <label class="control-label" for="name">Name</label>
                            <input type="text" class="form-control" id="name" required>
                        </div>
                        <div class="form-group col-xl-6 form-right">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description" required>
                        </div>
                    </div>
                </div>

                <label for="platformRadio">Platform</label>
                <div class="form-group" id="platform">
                    <div class="radio">
                        <label>
                            <input type="radio" id="iosRadio" name="platformRadio" value="ios">Cisco IOS
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="platformRadio" value="nx-os">Cisco NX-OS
                        </label>
                    </div>
                </div>

                <hr class="pt-3">
                <h4 class="mb-3">Final configuration details</h4>
                <div class="form-row">
                    <div class="form-group col-xl-6 form-left">
                        <label for="template">Template</label>
                        <textarea class="form-control text-monospace" id="template" rows="6"
                            aria-describedby="templateHelp"></textarea>
                        <small id="templateHelp" class="form-text text-muted">Leave empty to leave final device
                            config empty.<br />Pure text or Jinja2 templates accepted</small>
                    </div>
                    <div class="form-group col-xl-6 form-right">
                        <label for="templatevalues">Template values</label>
                        <textarea class="form-control text-monospace" id="templatevalues" rows="6"
                            aria-describedby="templatevaluesHelp"></textarea>
                        <small id="templatevaluesHelp" class="form-text text-muted">Insert variables required by
                            your template in yaml format</small>
                    </div>
                </div>
                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#templaterender"
                        aria-expanded="false" aria-controls="templaterender">Test</button>
                </p>
                <div id="renderalertspace"></div>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse" id="templaterender">
                            <div class="card card-body">
                                <div class="spinner-grow" role="status" id="templaterenderspinner"></div>
                                <div class="text-monospace" id="templaterenderview"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row col-xl-6 mb-3 text-monospace" id="renderview" style="display: none;"></div>

                <hr class="pt-3">
                <h4 class="mb-3">Software version</h4>
                <div class="form-row">
                    <div class="form-group mb-3 col-xl-9 form-left">
                        <label for="filepath">Firmware file path</label>
                        <input type="url" class="form-control" id="filepath" aria-describedby="filepathHelp">
                        <small id="filepathHelp" class="form-text text-muted">Insert URI to file image. Leave
                            empty to skip
                            image check</small>
                    </div>
                    <div class="form-group mb-3 col-xl-3 form-right">
                        <label for="installmode">Install mode</label>
                        <div class="form-group" id="installmode" aria-describedby="installmodeHelp">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="installmode" value="INSTALL">Install
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="installmode" value="BUNDLE">Bundle
                                </label>
                            </div>
                            <small id="installmodeHelp" class="form-text text-muted">Does not apply to IOS. If unsure
                                leave  default</small>
                        </div>
                    </div>
                </div>

                <hr class="pt-3">
                <h4 class="mb-3">Post-staging actions</h4>
                <div class="form-group mb-3">
                    <label for="poststaging">Post-staging</label>
                    <textarea class="form-control text-monospace" id="poststaging" rows="5"
                        aria-describedby="poststagingHelp"></textarea>
                    <small id="poststagingHelp" class="form-text text-muted">Insert commands to be run after
                        previous tasks
                        are finished. Enter one per line</small>
                </div>



                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Save template</button>
                <div id="submitalertspace" class="my-3"></div>
            </form>
        </div>
    </div>
</div>



{% endblock %}

{% block script %}
<script>
    $("#templaterender").on('shown.bs.collapse', function () {
        $.ajax({
            type: "POST",
            url: "/api/convertjinja",
            data: {
                template: $('#template').val(),
                values: $('#templatevalues').val()
            },
            success: function (msg) {
                if (msg['status'] == 'OK') {
                    $("#templaterenderspinner").hide()
                    $('#templaterenderview').html(msg['message']);
                } else {
                    $('#templaterender').collapse('hide')
                    $('#templaterenderview').html("");
                    $("#templaterenderspinner").show()
                    $('#renderalertspace').append('<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                        '<strong>Error</strong> ' + msg['message'] +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                        '<span aria-hidden="true">&times;</span></button></div>')
                }
            },
            error: function () {
                $('#templaterender').collapse('hide')
                $('#templaterenderview').html("");
                $("#templaterenderspinner").show()
                $('#renderalertspace').append('<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                    '<strong>Error</strong> General error' +
                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                    '<span aria-hidden="true">&times;</span></button></div>')
            }
        });
    })

    $("#templaterender").on('hidden.bs.collapse', function () {
        $("#templaterenderspinner").show()
        $('#templaterenderview').html("");
    })

    $('#templateform').submit(function (event) {
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: $('#templateform').attr('action'),
            data: {
                name: $('#name').val(),
                description: $('#description').val(),
                platform: $("input[name='platformRadio']:checked").val(),
                template: $('#template').val(),
                templatevalues: $('#templatevalues').val(),
                filepath: $('#filepath').val(),
                installmode: $("input[name='installmode']:checked").val(),
                poststaging: $('#poststaging').val()
            }
        }).done(function (response) {
            var $toast = basecoat.toast('<span class="fa fa-check"></span>Task submitted', 'success').trigger('show');
            $toast.trigger('show', [5000]); // show toast for 5s
        }).fail(function (response) {
            var $toast = basecoat.toast('<span class="fa fa-times"></span>There was an error submitting your template', 'warning').trigger('show');
            $toast.trigger('show', [5000]); // show toast for 5s
        });
    });

</script>
{% endblock %}