{% extends "templates/layout.html" %}

{% block navbar %}
<a class="nav-item nav-link" href="/workers">Workers</a>
<a class="nav-item nav-link" href="/tasks">Tasks</a>
<a class="nav-item nav-link" href="/templates">Templates</a>
{% endblock %}


{% block body %}
<h1 class="container col col-xl-8 mb-3 mt-3 md-auto display-4">Template details</h1>
<div class="container col col-xl-8 justify-content-center pb-5">
    <form class="needs-validation" action="/api/templates/{{pkid}}" id="templateform" method="post">
        <div class="form-row">
            <div class="form-group col-xl-6 mb-3">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" value="{{name}}" required>
            </div>
            <div class="form-group col-xl-6 mb-3">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" value="{{description}}" required>
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="platform">Platform</label>
            <select class="custom-select d-block w-100" id="platform" required>
                <option value="">-- None --</option>
                <option {% if platform == 'ios'%}selected="selected" {%endif%}value="ios">Cisco IOS/IOS-XE</option>
                <option {% if platform == 'nx-os'%}selected="selected" {%endif%}value="nx-os">Cisco Nexus</option>
            </select>
        </div>
        <hr class="pt-3">
        <h4 class="mb-3">Final configuration details</h4>
        <div class="form-row">
            <div class="form-group col-xl-6 mb-3">
                <label for="template">Template</label>
                <textarea class="form-control text-monospace" id="template" rows="6"
                    aria-describedby="templateHelp">{{template}}</textarea>
                <small id="templateHelp" class="form-text text-muted">Leave empty to leave final device config
                    empty.<br />Pure text or Jinja2 templates accepted</small>
            </div>
            <div class="form-group col-xl-6 mb-3">
                <label for="templatevalues">Template values</label>
                <textarea class="form-control text-monospace" id="templatevalues" rows="6"
                    aria-describedby="templatevaluesHelp">{{templatevalues}}</textarea>
                <small id="templatevaluesHelp" class="form-text text-muted">Insert variables required by your template
                    in
                    yaml format</small>
            </div>
        </div>
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#templaterender"
                aria-expanded="false" aria-controls="templaterender">Test</button>
        </p>
        <div id="renderalertspace"></div>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="templaterender">
                    <div class="card card-body">
                        <div class="spinner-grow" role="status" , id="templaterenderspinner"></div>
                        <div class="text-monospace" id="templaterenderview"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row col-xl-6 mb-3 text-monospace" id="renderview" style="display: none;"></div>

        <hr class="pt-3">
        <h4 class="mb-3">Software version</h4>
        <div class="form-group mb-3">
            <label for="filepath">Firmware file path</label>
            <input type="url" class="form-control" id="filepath" aria-describedby="filepathHelp" value="{{filepath}}">
            <small id="filepathHelp" class="form-text text-muted">Insert URI to file image. Leave empty to skip
                image check</small>
        </div>

        <hr class="pt-3">
        <h4 class="mb-3">Post-staging actions</h4>
        <div class="form-group mb-3">
            <label for="poststaging">Post-staging</label>
            <textarea class="form-control text-monospace" id="poststaging" rows="5"
                aria-describedby="poststagingHelp">{{poststaging}}</textarea>
            <small id="poststagingHelp" class="form-text text-muted">Insert commands to be run after previous tasks
                are finished. Enter one per line</small>
        </div>

        <hr class="mb-4">
        <div class="row">
            <div class="col-md-4 mb-3">
                <a id="btncreatetask" role="button" class="btn btn-primary btn-lg btn-block btn-success" href="/tasks/add?fktemplate={{pkid}}">Create task</a>
            </div>
            <div class="col-md-4 mb-3">
                <button id="btnsave" class="btn btn-primary btn-lg btn-block" type="submit">Save</button>
            </div>
            <div class="col-md-4 mb-3">
                <button id="btndelete" class="btn btn-primary btn-lg btn-block btn-danger" type="button">Delete</button>
            </div>
        </div>
        <div id="submitalertspace" class="my-3">
        </div>
    </form>
</div>

{% endblock %}

{% block script %}
<script>
    $("#templaterender").on('shown.bs.collapse', function () {
        $.ajax({
            type: "POST",
            url: "/api/convertjinja",
            data: {
                template: $('#template').val(),
                values: $('#templatevalues').val()
            },
            success: function (msg) {
                if (msg['status'] == 'OK') {
                    $("#templaterenderspinner").hide()
                    $('#templaterenderview').html(msg['message']);
                } else {
                    $('#templaterender').collapse('hide')
                    $('#templaterenderview').html("");
                    $("#templaterenderspinner").show()
                    $('#renderalertspace').append('<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                        '<strong>Error</strong> ' + msg['message'] +
                        '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                        '<span aria-hidden="true">&times;</span></button></div>')
                }
            },
            error: function () {
                $('#templaterender').collapse('hide')
                $('#templaterenderview').html("");
                $("#templaterenderspinner").show()
                $('#renderalertspace').append('<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                    '<strong>Error</strong> General error' +
                    '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                    '<span aria-hidden="true">&times;</span></button></div>')
            }
        });
    })

    $("#templaterender").on('hidden.bs.collapse', function () {
        $("#templaterenderspinner").show()
        $('#templaterenderview').html("");
    })

    $('#btnsave').on('click', function (event) {
        event.preventDefault();
        $.ajax({
            type: 'PUT',
            url: "/api/templates/{{pkid}}",
            data: {
                name: $('#name').val(),
                description: $('#description').val(),
                platform: document.getElementById('platform').value,
                template: $('#template').val(),
                templatevalues: $('#templatevalues').val(),
                filepath: $('#filepath').val(),
                poststaging: $('#poststaging').val()
            }
        }).done(function (response) {
            window.location.href = "/templates";
        }).fail(function (response) {
            $('#submitalertspace').append('<div class="alert alert-danger alert-dismissible fade show" role="alert">' +
                '<strong>Error</strong> ' + response.responseJSON.message +
                '<button type="button" class="close" data-dismiss="alert" aria-label="Close">' +
                '<span aria-hidden="true">&times;</span></button></div>')
        });
    });

    $('#btndelete').on('click', function (event) {
        var a = confirm("Confirm deletion");
        if (a == true) {
            $.ajax({
                type: 'DELETE',
                url: "/api/templates/{{pkid}}",
            }).done(function (response) {
                window.location.href = "/templates";
            }).fail(function (response) {
                alert(response.responseJSON.message)
            })
        }
    });

</script>
{% endblock %}