{% extends "stageit/layout.html" %}

{% block title %}History detail | {% endblock %}

{% block body %}
<!--<h1 class="display-4 content-center px-3 py-3 pt-md-4 pb-md-4 mx-auto row justify-content-center">Task details</h1>-->
<div class="top-gutter bottom-gutter container-wrapper">
    <div class="content-area">
        <div class="container-lg">

            <div class="row">
                <div class="col-xl-12">
                    <h1>History detail</h1>
                    <p>Task run for {{instance.pkid}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12">
                    <h2>Run data</h2>
                    <table class="table">
                        <tr>
                            <td><strong>Status</strong></td>
                            <td id="statusfield">{{instance.status}}</td>
                        </tr>
                        <tr>
                            <td><strong>Task start time</strong></td>
                            <td id="datestartfield">{{instance.datestart}}</td>
                        </tr>
                        <tr>
                            <td><strong>Task finish time</strong></td>
                            <td id="dateendfield">{{instance.dateend}}</td>
                        </tr>
                        <tr>
                            <td><strong>Task description</strong></td>
                            <td id="descriptionfield">{{instance.description}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6">
                    <h2>Hardware</h2>
                    <table class="table">
                        <tr>
                            <td><strong>Vendor</strong></td>
                            <td id="vendorfield">{{instance.vendor}}</td>
                        </tr>
                        <tr>
                            <td><strong>Model</strong></td>
                            <td id="modelfield">{{instance.model}}</td>
                        </tr>
                        <tr>
                            <td><strong>Serial</strong></td>
                            <td id="serialfield">{{instance.serial}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-xl-6">
                    <h2>Software</h2>
                    <table class="table">
                        <tr>
                            <td><strong>Install mode</strong></td>
                            <td id="installmodefield">{{instance.installmode}}</td>
                        </tr>
                        <tr>
                            <td><strong>OS Version</strong></td>
                            <td id="os_versionfield">{{instance.os_version}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-xl-12">
                    <h2>Session log</h2>
                    <pre><code id="runlog"></code></pre>
                </div>
            </div>
            <hr class="mb-4">
            <div class="row">
                <div class="col-md-4 mb-3">
                    <button id="btndelete" class="btn btn-primary btn-lg btn-block btn-danger"
                        type="button">Delete</button>
                </div>
            </div>
            <div id="submitalertspace" class="my-3">
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
    var client = new XMLHttpRequest();
    client.open('get', '/api/streamlogs/{{instance.pkid}}');
    client.send();
    client.onprogress = function () {
        var textarea = $('#runlog')
        textarea.html(this.responseText);
        textarea.scrollTop(textarea[0].scrollHeight);
    }

    // confirm dialog that goes into an alert dialog
    $('#btndelete').on('click', function (event) {
        basecoat.confirm('Are you sure you want to delete this history?</br>This will irreversibly delete all data AND LOGS', null, 'Yes', 'No')
            .on('reject', function () {
                console.log('reject');
            })
            .on('accept', function () {
                $.ajax({
                    type: 'DELETE',
                    url: "/api/history/{{instance.pkid}}/",
                    beforeSend: function (request) {
                        request.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    },
                });
                basecoat.alert('History deleted')
                    .on('hide.bs.modal', function () {
                        window.location.href = "/history";
                    });
            });
    });


    // Live info refresh
    var tableinfo = new ReconnectingEventSource('/events/history/{{instance.pkid}}');

    tableinfo.addEventListener('table-refresh', function (e) {
        console.log(e.data);
    }, false);

</script>
{% endblock %}