{% extends "stageit/layout.html" %}

{% load crispy_forms_tags %}
{% load crispy_forms_field %}

{% block title %}Enqueue task | {% endblock %}

{% block body %}
<div class="top-gutter bottom-gutter container-wrapper">
    <div class="content-area">
        <div class="container-lg">
            <div class="row">
                <div class="col-xl-12">
                    <h1>Enqueue task</h1>
                    <p>Choose serial port</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <form method="post" id="templateform" action="/history/new/{{uuid}}">
                        {% csrf_token %}
                        {% crispy form %}
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}