{% extends "stageit/layout.html" %}

{% block title %}Task History{% endblock %}
{% block header %}Task History{% endblock %}

{% block body %}
<header class="jumbotron">
    <div class="container-lg">
        <div class="row">
            <div class="col-xs-12">
                <h2>History</h2>
            </div>
        </div>
    </div>
</header>
<div class="content-area">
    <div class="container-lg">
        <div class="row">
            <div class="col-xs-12">
                <table id="tasks" class="table" width="100%">
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script>

    $(document).ready(function () {
        var dataSet = $.getJSON({
            url: '/api/history?format=json',
            async: false
        }).responseJSON;

        dataSet.forEach(function (element) {
            element['ID'] = "<a href='/history/" + element['pkid'] + "'>" + element['pkid'].substring(0, 5) + "</a>"
        });


        $('#tasks').DataTable({
            data: dataSet,
            rowId: 'pkid',
            columns: [
                { title: "pkid", data: 'pkid' },
                { title: "ID", data: 'ID' },
                { title: "Serial Number", data: 'serial_number' },
                { title: "Status", data: 'status' }
            ],
            columnDefs: [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }]
        });
    });

</script>
{% endblock %}