{% extends "stageit/layout.html" %}

{% block title %}Templates{% endblock %}
{% block header %}Templates{% endblock %}

{% block body %}
<header class="jumbotron">
    <div class="container-lg">
        <div class="row">
            <div class="col-xs-12">
                <h2>Templates</h2>
            </div>
        </div>
    </div>
</header>

<div class="container-lg top-gutter">
    <div class="col-xs-12 col-md-6 col-lg-4 text-center">
        <a type="button" class="btn btn-primary btn-block bottom-gutter" href="/templates/add">Add</a>
    </div>
</div>
<div class="container-lg">
    <div class="row">
        <div class="col-xs-12">
            <table id="templates" class="table" width="100%">
        </div>
    </div>
</div>



{% endblock %}

{% block script %}
<script>

    $(document).ready(function () {
        dataSet = $.getJSON({
            url: '/api/template/?format=json',
            async: false
        }).responseJSON;

        dataSet.forEach(function (element) {
            var link = "<a href='/templates/" + element['pkid'] + "'>" + element['pkid'].substring(0, 5) + "</a>"
            element['ID'] = link
        });


        $('#templates').DataTable({
            data: dataSet,
            rowId: 'pkid',
            columns: [
                { title: "pkid", data: 'pkid' },
                { title: "ID", data: 'ID' },
                { title: "Name", data: 'name' },
                { title: "Description", data: 'description' }
            ],
            columnDefs: [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }]
        });
    });

    $('#deletetemplate').on('click', function (event) {
        var a = confirm("Confirm deletion");
        if (a == true) {
            $.ajax({
                type: 'DELETE',
                url: "/api/template/" + $(this).attr("templateid"),
            }).done(function (response) {
                location.reload();
            }).fail(function (response) {
                alert(response.responseJSON.message)
            })
        }
    });

</script>
{% endblock %}