{% extends "layout.html" %}

{% block navbar %}
<a class="nav-item nav-link" href="/workers">Workers</a>
<a class="nav-item nav-link active" href="/tasks">Tasks</a>
<a class="nav-item nav-link" href="/templates">Templates</a>
{% endblock %}


{% block body %}
<h1 class="container col col-xl-8 mb-3 mt-3 md-auto display-4">Template List</h1>
<div class="container col col-xl-8 justify-content-center pb-5">
<table class="table">
    <thead>
      <tr>
        {% for col in header%}
        <th scope="col">{{col}}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in table %}
      <tr>
        <th scope="row">{{row[0]}}</th>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3]}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}