{% extends "layout.html" %}

{% block navbar %}
<a class="nav-item nav-link" href="/workers">Workers</a>
<a class="nav-item nav-link active" href="/tasks">Tasks</a>
<a class="nav-item nav-link" href="/templates">Templates</a>
{% endblock %}


{% block body %}
<h1 class="container col col-xl-8 mb-3 mt-3 md-auto display-4">Task List</h1>
<div class="container col col-xl-8 justify-content-center pb-5">
<table class="table">
    <thead>
      <tr>
        {% for col in header%}
        <th scope="col">{{col}}</th>
        {% endfor %}
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for row in table %}
      <tr>
        <th scope="row"><a href="/tasks/{{row[0]}}">{{row[0]}}</a></th>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td><button type="button" class="btn btn-success btn-sm">Assign</button> <button type="button" class="btn btn-danger btn-sm">Delete</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}