{% extends "layout.html" %}

{% block navbar %}
<a class="nav-item nav-link" href="/workers">Workers</a>
<a class="nav-item nav-link" href="/tasks">Tasks</a>
<a class="nav-item nav-link active" href="/templates">Templates</a>
{% endblock %}


{% block body %}
<h1 class="container col col-xl-8 mb-3 mt-3 md-auto display-4">Template List</h1>
<div class="container col col-xl-8 justify-content-center pb-5">
<table class="table">
    <thead>
      <tr>
        {% for col in header%}
        <th scope="col">{{col}}</th>
        {% endfor %}
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for row in table %}
      <tr>
        <th scope="row">{{row[0]}}</th>
        <td>{{row[1]}}</td>
        <td>{{row[2]}}</td>
        <td><div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown link
                </a>
              
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}