{% extends "layout.html" %}

{% block navbar %}
<a class="nav-item nav-link active" href="/workers">Workers</a>
<a class="nav-item nav-link" href="/tasks">Tasks</a>
<a class="nav-item nav-link" href="/templates">Templates</a>
{% endblock %}


{% block body %}
<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for element in workers %}
                <tr>
                    <th scope="row">{{element}}</th>
                    <td>{{workers[element]['thread'].status}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}