<li {% if pagename == "home" %}class="active"{% endif %}><a href="/">Home</a></li>
<li {% if pagename == "templates" %}class="active"{% endif %}><a href="/templates">Templates</a></li>
<li {% if pagename == "tasks" %}class="active"{% endif %}><a href="/tasks">Tasks</a></li>
<li {% if pagename == "history" %}class="active"{% endif %}><a href="/history">History</a></li>

<li><a class="next {% if settingsmenu %}active{% else %}collapsed{% endif %}" data-toggle="collapse">Settings</a>
    <ul class="collapse {% if settingsmenu %}in{% endif %}">
        <li {% if pagename == "bootstrapconfig" %}class="active"{% endif %}><a href="/settings/bootstrapconfig">Bootstrap Configs</a></li>
        <li {% if pagename == "remoteworker" %}class="active"{% endif %}><a href="/settings/remoteworker">Remote Workers</a></li>
        <li {% if pagename == "terminalserver" %}class="active"{% endif %}><a href="/settings/terminalserver">Terminal Servers</a></li>
        <li {% if pagename == "serialport" %}class="active"{% endif %}><a href="/settings/serialport">Serial Ports</a></li>
        <li {% if pagename == "filemanager" %}class="active"{% endif %}><a href="/settings/filemanager">Firmware Upload</a></li>
    </ul>
</li>
<li  {% if pagename == "sandbox" %}class="active"{% endif %}><a href="/sandbox">Sandbox</a></li>